h1 .dia, h2 .dia, .sfaturi h3 .dia{
  font-family:'Calibri', serif;
  font-weight:bold;
  font-style:italic;
}
h5{
  font-family:'Calibri Light', serif;
  font-style:italic;
}
.block{
  font-family:'Arial', serif;
  font-style:italic;
}
.teste{
  font-family:'Arial Black', serif;
  font-weight:lighter;
}
.sfaturi p{
  font-family:'Arial', serif;
}
