@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat:300,400,500,700,900');

/*General*/
/*========================================================*/
html, body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}


/*Header*/
/*==========================================================*/

/*Nav*/
nav a{
  font-weight:500;
  color: white !important;
  text-align:center;
  transition: color 0.5s;
}

nav a:hover,
nav a:focus{
  color: #fca601 !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white
}

.navbar-default .navbar-toggle {
  background-color: rgba(224, 70, 88, 0);
  border: none;
  transition: background-color 0.5s;
}

.navbar-default .navbar-toggle:focus {
  background-color: rgba(224, 70, 88, 0);
}

.navbar-default .navbar-toggle:hover {
  background-color: rgba(252, 166, 1, 0.68) !important;
}

.meniu{
  background-color: rgba(78, 31, 117, 0);
  border: none;
  color: white;
}

/*Media Queries Header*/
@media screen and (max-width:767px) {
  nav a {
    border-bottom: 1px solid white;
  }
  .logo{
    border: none;
  }


}


/*Logo*/

.logo {
  padding: 5px 15px;
  margin: 5px 25px;
}

.logo img {
  width: 70px;
  height: 70px;
}

/*Sticky Navigation*/
.sticky {
  background-color: rgba(0, 0, 0, 0.32);
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 60px;
}

.sticky img {
  width: 50px;
  height: 50px;
}

.sticky .logo{
  padding: 2px 50px;

}


/*Hero */
.top{
  background: url("../img/back8.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  z-index: 2;
}


/*Media Queries Hero*/
@media screen and (max-width:767px) {
  .logo{
    padding: 0;
    margin:0;
    position:relative;
    left:50%;
    margin-left:-25px;
  }

  .logo img{
    width:50px;
    height:50px;
  }
  .subtitle{
    letter-spacing:1.5pt;
    position:relative;
    top:-35px;
    left:0px;

  }
  .button{
    padding: 12px 35px;
    font-size: 15px;
  }

  .sub1{
    margin-top:100px;
  }

  .sticky {
    background-color: rgba(0, 0, 0, 0.32);
  }

  .sticky .logo{
    padding: 0;
  }

  .sticky .navbar-default .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.32);
  }

  .sticky img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width:500px){
  .title{
    display:none;
  }

  .sub1{
    margin-top:100px;
  }

  .button{
    padding: 10px 30px;
    font-size: 12px;
  }
}


/*Teste*/
/*=======================================================*/

.ship{
  display:block;
  margin:0 auto;
  padding-bottom:10px;
  width: 160px;
}



.teste {
  margin-top: 100px;
}

h2 {
  font-family:'Lobster', cursive;
  font-size:90px;
  margin-top: -100px;
  padding-bottom:50px;
  color:#fca601;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.teste a:link{
  color: white;
  transition: color 0.5s;
  font-style: italic;
}

.teste a:hover,
.teste a:focus{
  color: #6bbaa7;
  text-decoration:none;
}


.bac h3{
  margin-right:50px;
}

/*Media Queries Teste*/
@media screen and (max-width:1130px){
  h2 {
    font-size: 80px;
    margin-left: 10px;
  }

}

@media screen and (max-width:1055px){
  h2 {
    font-size: 75px;
    margin-left: 10px;
  }

}

@media screen and (max-width:950px){
  h2 {
    font-size: 65px;
  }

}

@media screen and (max-width:860px) {
  h2 {
    font-size: 60px;
  }
  .ship {
    width: 130px;
  }
}

@media screen and (max-width:766px) {
  h2 {
    display: none;
  }


}

@media screen and (max-width:520px) {


}

@media screen and (max-width:465px) {


}

@media screen and (max-width:400px) {



}

/*Footer*/
/*=======================================================*/
.all {
  position:relative;
  z-index: 2;
}

.footer-stuff {
  margin: 0 auto;
}

.footer{
  background-color:rgb(45, 34, 33);
  color:white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 40px 0;


}

footer img{
  width:80px;
  height:80px;
  padding:10px;
  float:left;
}

footer p{
  padding:40px;
  margin:0;
}

footer a{
  color:#fca601;
}

footer a:hover,
footer a:focus{
  color:#6bbaa7;
}
